/*

CIS 422
Project 1: Simple Calendar

Filename: index.css

Description: The stylesheet of the Electron GUI. This stylesheet is
modified from a template on www.w3schools.com.

Created by: Sam Svindland, Andrew Cvitanovich, Justin Robles and Ethan Quick

Modified on dates: 4/15/2018 <-> 4/29/2018

*/

* {box-sizing: border-box;}
ul {list-style-type: none;}
ol {list-style-type: none;}
body {font-family: Verdana, sans-serif; background: #778899;}

.topbar {
    padding: 5px 5px;
    width: 100%;
    height: 50px;
    background: #778899;
    text-align: left;
}

.month {
    padding: 5px 5px;
    height: 150px;
    width: 100%;
    background: #CD5C5C;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background: #9370DB; /* Medium Purple */
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #AAAAAA;
    text-align: center;
}

.days {
    padding: 10px 0;
    height: 275px;
    background: #D3D3D3;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:18px;
    color: black;
}

.days li .active {
    padding: 5px;
    background: #D8BFD8 !important; /* Thistle */
    color: white !important;
}

.days li .active.marked {
    padding: 5px;
    background: #D8BFD8 !important; /* Thistle */
    color: #FF6347 !important;
}

.days li .marked {
    padding: 5px;
    color: #FF6347 !important; /* Tomato */
}

.eventTable {
  padding: 5px 5px;
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

.eventTable tr {
  padding: 5px;
  background: #00FF7F; /* SpringGreen */
  color: #000000;
  text-align: center;
}

.eventTable td {
  padding: 5px;
  color: #000000;
  background: #F5DEB3; /* Wheat */
  text-align: center;
  word-wrap: break-word;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}
