<!DOCTYPE HTML>
<!--
CIS 422
Project 1: Simple Calendar

Filename: addEvent.html

Description: The page to add a new event in the Electron GUI.

Created by: Sam Svindland, Andrew Cvitanovich, Justin Robles and Ethan Quick

Modified on dates: 4/15/2018 <-> 4/29/2018                        |
-->

<html>
  <head>
    <meta charset="utf-8"/>
    <meta lang="en"/>

    <title>Add Event</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">  </head>
  </head>

  <body {% if result < 0 %} onload="invalid()" {% endif %}>

    <!--
      A simple layout for month display of the calendar.
      Table modified from an example from www.w3schools.com (Andrew)
    -->

    <!-- TOP BAR MENU -->
    <div class="topbar">
      <button onclick="home()">Home</button>
    <div>

    <div class="month">
      <ul>
        <li>Add Event Page</li>
      </ul>
    </div>
    <ul>
    <!-- HTML FORM TO SUBMIT A NEW EVENT RECORD -->
    <form name="newEvent" action="/newEvent" method="post">
      Username:<input type="text" name="username" value="" required><br>
      Start Date:<input type="date" name="start_date" value={{date_str}} required><br>
      Start Time:<input type="time" name="start_time" value="12:00:00" required><br>
      End Date:<input type="date" name="end_date" value={{date_str}} required><br>
      End Time:<input type="time" name="end_time" value="12:00:00" required><br>
      Event Title: <input type="text" name="title" value="" required><br>
      Event Notes:<input type="text" name="notes" placeholder="Optional" value="" maxlength="280"><br>
      <input type="submit" name="submit">
    </form>


    </ul>

  </body>

  <script>
    // GOTO GUI MAIN PAGE
    function home(){
      window.location.href = "./"
    }

    // ALERT USER WHEN WRONG INPUTS GIVEN
    function invalid(){
      alert("Please enter a complete event using valid information.")
    }
  </script>
</html>
