<!DOCTYPE HTML>
<!--
CIS 422
Project 1: Simple Calendar

Filename: backup.html

Description: Page for backing up calendar database in the Electron GUI.

Created by: Sam Svindland, Andrew Cvitanovich, Justin Robles and Ethan Quick

Modified on dates: 4/15/2018 <-> 4/29/2018                        |
-->

<html>
  <head>
    <meta charset="utf-8"/>
    <meta lang="en"/>

    <title>Database View</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">  </head>
  </head>

  <body>

    <!-- TOP BAR MENU -->

    <div class="topbar">
      <button onclick="home()">Home</button>
    <div>

    <div class="month">
        <h1>Calendar backed up to:</h1>
        <p>{{ output }}</p>

    </div>

  </body>

  <script>
    // VIEW MAIN GUI PAGE
    function home(){
      window.location.href = "./"
    }
  </script>
</html>
