<!DOCTYPE HTML>
<!--
CIS 422
Project 1: Simple Calendar

Filename: dayPage.html

Description: The page to display events for a day in the Electron GUI.

Created by: Sam Svindland, Andrew Cvitanovich, Justin Robles and Ethan Quick

Modified on dates: 4/15/2018 <-> 4/29/2018                        |
-->

<html>
  <head>
    <meta charset="utf-8"/>
    <meta lang="en"/>

    <title>Day Page</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">  </head>
  </head>

  <body>

    <!--
      A simple layout for month display of the calendar.
      Table modified from an example from www.w3schools.com (Andrew)
    -->

    <!-- TOP BAR MENU -->
    <div class="topbar">
      <table>
      <tr><button onclick="home()">Home</button></tr>
      <tr><form action="/addEvent" method="post">
            <button onclick="addEvent()">Add Event</button>
            <input type="hidden" name="date" value="{{ data.day }} {{ data.monthNum }} {{ data.year }}"></tr>
          </form>
      </table>
      <!-- <button onclick="addEvent()">Add Event</button> -->
    <div>

      <div class="month">
        <ul>
          <form action="/nextDay" method="post">
            <button type='submit' name='change' class="prev" value=-1>&#10094;</button>
            <button type='submit' name='change' class="next" value=1>&#10095;</button>
            <input type="hidden" name="date" value="{{ data.day }} {{ data.monthNum }} {{data.year}}" />
          </form>
          <li>{{ data.month }} {{ data.day }}<br><span style="font-size:18px">{{ data.year }}</span></li>
        </ul>
      </div>
    </div>


    <div class="eventTable">

      <!-- EVENT TABLE -->

      <!-- List Events in Table Form -->
      {% for event in li %}
        <table class="eventTable">
          <!-- LABELS -->
          <tr>
            <th colspan="5">Event #{{ loop.index }}</th>
          </tr>
          <tr>
            <th></th>
            <th>User</th>
            <th>Start</th>
            <th>End</th>
            <th>Title</th>
          </tr>
          <!-- EVENT DATA -->
          <tr>
            <td>
              <form action="/deleteEvent" method="post">
                <button type='submit' name='delete' value="{{ event[0] }} {{ event[1] }} {{ event[2] }} {{ event[3] }}:NOTES:{{ event[4] }}">Delete</button>
                <input type="hidden" name="date" value="{{ data.day }} {{ data.monthNum }} {{data.year}}" />
              </form>
              <form action="/changeToEdit" method="post"><button type='submit' name='edit' value="{{ event[0] }} {{ event[1] }} {{ event[2] }} {{ event[3] }}:NOTES:{{ event[4] }}">Edit</button><input type="hidden" name="date" value="{{ data.day }} {{ data.monthNum }} {{data.year}}" /></form>
            </td>
            <td>{{ event[0] }}</td>
            <td>{{ event[1] }}</td>
            <td>{{ event[2] }}</td>
            <td>{{ event[3] }}</td>
          </tr>
          <!-- NOTES DISPLAYED IN A NEW ROW -->
          <tr>
            <th colspan="5">Notes</th>
          </tr>
          <tr>
            <td colspan="5">{{ event[4] }}</td>
          </tr>
        </table>
      {% endfor %}

    </div>

  </body>

  <script>
    // VIEW MAIN GUI PAGE
    function home(){
      window.location.href = "./"
    }

    // ADD A NEW EVENT
    function addEvent(){
      window.location.href = "./addEvent"
    }
  </script>
</html>
