<!DOCTYPE HTML>
<!--
CIS 422
Project 1: Simple Calendar

Filename: dbaseMenu.html

Description: The menu for the sql based database in the Electron GUI.

Created by: Sam Svindland, Andrew Cvitanovich, Justin Robles and Ethan Quick

Modified on dates: 4/15/2018 <-> 4/29/2018                        |
-->

<html>
  <head>
    <meta charset="utf-8"/>
    <meta lang="en"/>

    <title>Database View</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">  </head>
  </head>

  <body>

    <!-- TOP BAR MENU -->
    <div class="topbar">
      <button onclick="home()">Home</button>
      <button onclick="dbase()">Show Database</button>
      <button onclick="backupDB()">Backup Database</button>
      <button onclick="clearDB()">Clear Database</button>
    <div>

    <div>
      <h1>Instructions: Select options to view or modify events in the calendar's database.</h1>
    </div>

  </body>

  <script>

    // VIEW MAIN GUI PAGE
    function home(){
      window.location.href = "./"
    }

    // VIEW DATABASE
    function dbase(){
      window.location.assign("{{ url_for('dbase') }}")
    }

    // BACKUP THE DATABASE
    function backupDB(){
      window.location.assign("{{ url_for('backup') }}")
    }

    // EMPTY DATABASE OF ALL EVENTS
    function clearDB() {
      window.location.assign("{{ url_for('clearDB') }}")
    }

  </script>
</html>
