<!DOCTYPE HTML>
<!--
CIS 422
Project 1: Simple Calendar

Filename: addEvent.html

Description: The page to add a new event in the Electron GUI.

Created by: Sam Svindland, Andrew Cvitanovich, Justin Robles and Ethan Quick

Modified on dates: 4/15/2018 <-> 4/29/2018                        |
-->

<html>
  <head>
    <meta charset="utf-8"/>
    <meta lang="en"/>

    <title>Edit Event</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">  </head>
  </head>

  <body {% if result < 0 %} onload="invalid()" {% endif %}>

    <!--
      A simple layout for month display of the calendar.
      Table modified from an example from www.w3schools.com (Andrew)
    -->

    <!-- TOP BAR MENU -->
    <div class="topbar">
      <button onclick="home()">Home</button>
    <div>

    <div class="month">
      <ul>
        <li>Edit Event Page</li>
      </ul>
    </div>
    <ul>
    <!-- HTML FORM TO SUBMIT A NEW EVENT RECORD -->
    <form name="editEvent" action="/editEvent" method="post">
      <input type="hidden" name="date" value="{{ data.day }} {{ data.month }} {{ data.year }}" />
      <input type="hidden" name="old" value="{{ data.username }} {{ data.startDate }} {{data.startTime}} {{data.endDate}} {{data.endTime}} {{data.title}}:NOTES:{{data.notes}}" />
      Username:<input type="text" name="username" value="{{data.username}}" required><br>
      Start Date:<input type="date" name="start_date" value={{data.startDate}} required><br>
      Start Time:<input type="time" name="start_time" value={{data.startTime}} required><br>
      End Date:<input type="date" name="end_date" value={{data.endDate}} required><br>
      End Time:<input type="time" name="end_time" value={{data.endTime}} required><br>
      Event Title: <input type="text" name="title" value="{{data.title}}" required><br>
      Event Notes:<input type="text" name="notes" placeholder="Optional" value="{{data.notes}}" maxlength="280"><br>
      <input type="submit" name="submit">
    </form>


    </ul>

  </body>

  <script>
    // GOTO GUI MAIN PAGE
    function home(){
      window.location.href = "./"
    }

    // ALERT USER WHEN WRONG INPUTS GIVEN
    function invalid(){
      alert("Please make a valid change to the event.")
    }
  </script>
</html>
