<!DOCTYPE HTML>
<!--
CIS 422
Project 1: Simple Calendar

Filename: help.html

Description: The help page of the Electron GUI.

Created by: Sam Svindland, Andrew Cvitanovich, Justin Robles and Ethan Quick

Modified on dates: 4/15/2018 <-> 4/29/2018                        |
-->

<html>
  <head>
    <meta charset="utf-8"/>
    <meta lang="en"/>

    <title>Help</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">  </head>
  </head>

  <body>

    <!-- TOP BAR MENU -->
    <div>
      <button onclick="home()">Home</button>
    <div>


    <!-- INSTRUCTIONS FOR THE USER -->
    <div>
      <h1>Usage</h1>
      <h2>Home button</h2>
          <p>
          Click on the "Home" button at any time to return to the current month.
          Make sure to return to the home screen before following any of the instructions below as they assume that you are starting from the home page.
          </p>
      <h2>Creating an Event</h2>
          <p>
          Either click on the "Add Event" button at the top of the calendar or click on a day and then click on the "Add Event" button (The button will be in the same place on either page).
          Enter the information for the event.
          Press the "Submit" button.
          </p>
      <h2>Deleting an Event</h2>
          <p>
          Click on the day whose event you wish to delete.
          Find the event you wish to delete in the list of events for the day.
          Press the "delete" button next to the event you wish to delete.
          </p>
      <h2>Editing an Event</h2>
          <p>
          Click on the day whose event you wish to edit.
          Find the event you wish to change in the list of events for the day.
          Press the "edit" button next to the event you wish to edit.
          Enter the new information for the event.
          Press the "Submit" button.
          </p>
      <h2>Viewing all entered Events</h2>
          <p>
          Click on the "Database Menu" button at the top of the calendar.
          Click on the "Show Database" button at the top of the calendar.
          All created events should now be shown in chronological order.
          </p>
      <h2>Backing up your Events</h2>
          <p>
          Click on the "Database Menu" button at the top of the calendar.
          Click on the "Backup Database" button.
          </p>
      <h2>Clearing all Events</h2>
          <p>
          Click on the "Database Menu" button at the top of the calendar.
          Click on the "Clear Database" button.
          </p>
      <h2>Viewing future Months</h2>
          <p>
          The arrows to the left and right of the Month name at the top of the calendar may be used to view other months.
          The left hand arrow moves the calendar's view one month back in time.
          The right hand arrow moves the calendar's view one month forward in time.
          </p>
      <h2>Getting help</h2>
          <p>
          When on the home screen there is a help button at the top left of the screen. Clicking it will show the above directions for operating this app.
          </p>

    </div>

  </body>

  <script>

    // DISPLAY MAIN SCREEN OF GUI
    function home(){
      window.location.href = "./"
    }
  </script>
</html>
