<!DOCTYPE HTML>
<!--
CIS 422
Project 1: Simple Calendar

Filename: index.html

Description: The main page of the Electron GUI.

Created by: Sam Svindland, Andrew Cvitanovich, Justin Robles and Ethan Quick

Modified on dates: 4/15/2018 <-> 4/29/2018                        |
-->

<html>
  <head>
    <meta charset="utf-8"/>
    <meta lang="en"/>
    <title>Main Page</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">  </head>

  <body>
    <!--
    Old test HTML:
    <p>Hello World</p>

    <div class="day">
      <p>Date</p>
      <p>Events</p>
    </div> -->

    <!--
      A simple layout for month display of the calendar.
      Table modified from an example from www.w3schools.com (Andrew)
    -->

    <!-- TOP BAR MENU -->
    <div class="topbar">
      <table>
        <tr><button onclick="help()">Help</button></tr>
        <tr><button onclick="home()">Home</button></tr>
        <tr>
          <form action="/addEvent" method="post">
            <button onclick="addEvent()">Add Event</button>
            <input type="hidden" name="date" value="{{ data.monthNum }} {{ data.year }}">
          </form>
        </tr>
        <tr>
          <button onclick="dbMenu()">Database Menu</button>
        </tr>
      </table>
    <div>

    <!-- NAVIGATE MONTH DISPLAY -->
    <div class="month">
      <ul>
        <form action="/changeMonth" method="post">
          <button type='submit' name='change' class="prev" value=-1>&#10094;</button>
          <button type='submit' name='change' class="next" value=1>&#10095;</button>
          <input type="hidden" name="month" value="{{ data.monthNum }} {{ data.year }}" />
        </form>
        <li>{{ data.month }}<br><span style="font-size:18px">{{ data.year }}</span></li>
      </ul>
    </div>

    <ul class="weekdays">
      <li>Su</li>
      <li>Mo</li>
      <li>Tu</li>
      <li>We</li>
      <li>Th</li>
      <li>Fr</li>
      <li>Sa</li>
    </ul>

    <ul class="days">


      <!-- CLICKABLE INTERFACE FOR VIEWING EVENTS FOR EACH DAY -->
      <form name="changeToDayForm" action="/changeToDay" method="post">
        <input type="hidden" tag="dayval" name="TheDay" value="" />
        {% for i in range(data.startDay) %}
          <li></li>
        {% endfor %}

        {% for i in range(1, data.numDays+1) %}
          {% if data.today == loop.index %}
            {% if data.numEvents[i-1] > 0 %}
              <li onclick="changeDay(this)" name='day' value='{{ loop.index }}'><span class="active marked">{{ loop.index }}</span></li>
            {% else %}
              <li onclick="changeDay(this)" name='day' value='{{ loop.index }}'><span class="active">{{ loop.index }}</span></li>
            {% endif %}

          {% elif data.numEvents[i-1] > 0 %}
            <li onclick="changeDay(this)" name='day' value='{{ loop.index }}'><span class="marked">{{ loop.index }}</span></li>

          {% else %}
            <li onclick="changeDay(this)" name='day' value='{{ loop.index }}'>{{ loop.index }}</li>

          {% endif %}

        {% endfor %}

        <input type="hidden" name="month" value="{{ data.monthNum }} {{data.year}}" />
      </form>


    </ul>


  </body>

  <script>

    // VIEW A DAY
    function changeDay(day){
      var val = day.value;
      var cd = document.forms["changeToDayForm"];
      cd.TheDay.value = day.value;
      cd.submit();
    }

    // GET HELP FOR USER
    function help() {
      window.location.assign("{{ url_for('help') }}");
    }

    // VIEW MAIN DISPLAY
    function home(){
      window.location.assign("{{ url_for('hello') }}");
    }

    // ADD A NEW EVENT
    function addEvent(){
      window.location.assign("{{ url_for('addEvent') }}");
    }

    // MENU FOR DATABASE
    function dbMenu(){
      window.location.assign("{{ url_for('dbMenu') }}");
    }

  </script>
</html>
